.home {
  &__movies {
    margin-top: 100px;
  }
  &__movieChapterContainer {
    overflow-x: hidden
  }
}

.movieChapter {
  &__title {
    font-size: 26px;
    color: #fff;
    margin-bottom: 10px;
  }
}