

.opacityButton {
  button {
    font-size: 14px;
    text-transform: none;
    font-weight: 400;
    svg {
      width: 16px;
      height: 16px;
    }

    &:hover {
      box-shadow: none;
    }
  }
  button {
    color: var(--color-primary) !important;
    background: transparent !important;
    border: 1px solid var(--color-light-border) !important;
    &:hover {
      background: var(--color-primary) !important;
      color: var(--color-back-primary) !important;
      border: 1px solid var(--color-dark-border) !important;
      svg {
        fill: var(--color-back-primary);
        stroke: var(--color-back-primary);
      }
    }
  }
}