.home {
  &__banner {
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 0;
    padding: 170px 0;
    &_blackout {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: #000;
      opacity: 0.8;
    }
  }
  &__bgVideo {
    transform: scale(1.9);
    width: 100%;
    z-index: -3;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  &__bannerInfo {
    z-index: 10000;
    position: relative;
  }
  &__bannerTitle {
    z-index: 10000;
    font-size: 40px;
    margin-bottom: 20px;
  }
  &__bannerDescription {
    font-size: 18px;
    margin-bottom: 40px;
    max-width: 400px;
    font-weight: 300;
    line-height: 26px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
  button {
    z-index: 1000000;
    cursor: pointer;
  }
}


@media screen and (max-width: 800px) {
  .home {
    &__bgVideo {
      transform: scale(3);
    }
  }
}

@media screen and (max-width: 500px) {
  .home {
    &__bgVideo {
      transform: scale(5);
    }
  }
}


