.back {
  color: var(--color-primary);
  cursor: pointer;
  display: flex;
  align-items: center;
  p {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
  }
  svg {
    width: 14px;
    height: 14px;
  }
}