.header {
  color: #fff;
  background: #141414;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 76px;
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}