

.redButton {
  button {
    font-size: 14px;
    text-transform: none;
    font-weight: 400;
    width: 155px;

    svg {
      width: 16px;
      height: 16px;
    }

    &:hover {
      box-shadow: none;
    }
  }
  button {
    color: #fff !important;
    background: #E50914 !important;
    border: 1px solid #E50914 !important;
    &:hover {
      background: #5c0000  !important;
      border: 1px solid #5c0000 !important;
    }
  }
}