

.redButton {
  button {
    font-size: 14px;
    text-transform: none;
    font-weight: 400;

    svg {
      width: 16px;
      height: 16px;
    }

    &:hover {
      box-shadow: none;
    }
  }
  button {
    color: #fff !important;
    background: var(--color-red) !important;
    border: 1px solid var(--color-red) !important;
    &:hover {
      background: var(--color-dark-red) !important;
      border: 1px solid var(--color-dark-red) !important;
    }
  }
}