.header {
  &__loginStatus {
    display: flex;
    align-items: center;
    p {
      font-size: 18px;
      line-height: 18px;
      font-weight: 500;
    }
  }
  &__searchIcon {
    &_right {
      cursor: pointer;
      padding: 10px;
      display: none;
    }
  }
  &__theme {
    cursor: pointer;
    margin-left: 10px;
  }
}


@media screen and (max-width: 850px) {
  .header {
    &__searchIcon {
      &_right {
        display: block;
      }
    }
  }
}


