
.film {
  &__switchContent {
    margin-top: 20px;
  }
  &__description {
    font-size: 15px;
    line-height: 23px;
    font-weight: 300;
    color: var(--color-description);
    padding-bottom: 50px;
  }
}