.header {
  &__search {
    z-index: 500;
    transition: 0.5s;
    position: relative;
  }
}


@media screen and (max-width: 850px) {
  .header {
    &__search {
      position: static;
      &_hidden {
        z-index: -1;
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}