.header {
  &__user {
    padding: 0 20px 0 30px;
    position: relative;
  }
  &__userIcon {
    cursor: pointer;
    position: relative;
    z-index: 10000001;
    stroke: #000;
  }
}

.popup {
  color: var(--color-primary);
  z-index: 10000000;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: var(--color-secondary);
  top: -24px;
  right: 0;
  padding: 27px 20px 20px 20px;
  width: 300px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.3s;
  &__mainInfo {
    display: flex;
  }
  &__title {
    cursor: pointer;
    width: 220px;
    text-overflow: ellipsis;
    font-size: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    color: var(--color-primary);
    opacity: 0.9;
  }
  &__border {
    width: 100%;
    height: 2px;
    margin: 15px 0;
    background: var(--color-dark-border);
  }
  &__options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    li {
      cursor: pointer;
      opacity: 0.6;
    }
    color: var(--color-primary);
  }
  &__option {
    display: flex;
    align-items: center;
    gap: 10px;
    svg {
      width: 16px;
      height: 16px;
    }
    &:hover {
      opacity: 1;
    }
    &_red {
      color: var(--color-red);
      &:hover {
        color: var(--color-dark-red);
      }
    }
  }
  &_active {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 850px) {
  .header {
    &__userIcon {
      cursor: pointer;
      position: relative;
      z-index: 10;
      stroke: #000;
    }
  }
  .popup {
    color: var(--color-primary);
    z-index: 5;
  }
}

@media screen and (max-width: 380px) {
  .popup {
    width: calc(100vw - 60px);
    &__title {
      width: 180px;
    }
  }
}



