.errorScreen {
  text-align: center;
  color: #fff;
  width: 100vw;
  height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  overflow: hidden;
  h2 {
    font-weight: 500;
  }
  div {
    width: 100%;
  }
}