:root {
  --color-red: #E50914;
  --color-dark-red: #9d182e;
}

:root [data-theme="light"] {
  --color-bg: #fff;
  --color-primary: #000;
  --color-inserts: #fff;
  --color-secondary: #eee;
  --color-light-border: rgba(0,0,0,.2);
  --color-dark-border: rgba(0,0,0,.1);
  --color-back-primary: #fff;
  --color-navigate: #eee;
  --color-contrast-gray: #ccc;
  --color-catalog: #fff;
  --color-catalog-bg: #f4f4f4;
  --color-input: #ddd;
}

[data-theme="dark"] {
  --color-bg: #181818;
  --color-primary: #fff;
  --color-inserts: #1f1f1f;
  --color-secondary: #111;
  --color-light-border: #fff;
  --color-dark-border: #333;
  --color-back-primary: #000;
  --color-navigate: #1f1f1f;
  --color-contrast-gray: #333;
  --color-catalog: #111;
  --color-catalog-bg: #181818;
  --color-input: #1f1f1f;
}