

.select {
  label {
    color: var(--color-primary) !important;
  }
  fieldset {
    border-color: var(--color-primary) !important;
  }
  div[role="button"] {
    color: var(--color-primary) !important;
  }
  svg {
    fill: var(--color-primary) ;
  }
}