
.password {
  position: relative;
  svg {
    position: absolute;
    top: 28px;
    transform: translateY(-50%);
    right: 10px;
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
  }
  &:hover {
    svg {
      opacity: 0.6;
    }
  }
}