
.button {
  &__addFavourites {
    button {
      color: #fff !important;
      background: transparent !important;
      border: 1px solid #fff;
      text-transform: none !important;
      &:hover {
        background: #fff !important;
        color: #141414 !important;
        border: 1px solid #fff;
        svg {
          fill: #141414;
          stroke: #141414;
        }
      }
    }
  }
  &__deleteFavourites {
    button {
      color: #fff !important;
      background: #E50914 !important;
      border: 1px solid #E50914;
      text-transform: none !important;
      &:hover {
        background: rgba(#E50914, 0.4) !important;
        border: 1px solid rgba(#E50914, 0.4);
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .button {
    &__adaptive {
      button {
        min-width: 45px;
        max-width: 45px;
        height: 30px;

        span:first-child {
          margin-right: 0;
        }
      }

      .button__text {
        display: none;
      }
    }
  }
}


@media screen and (max-width: 700px) {
  .button {
    &__adaptive {
      button {
        min-width: 45px;
        max-width: 45px;
        height: 30px;

        span:first-child {
          margin-right: 0;
        }
      }

      .button__text {
        display: none;
      }
    }
  }
}