.header {
  z-index: 10000;
  transition: 0.2s;
  color: var(--color-primary);
  position: fixed;
  box-shadow: 7px -20px 20px 13px var(--color-header-box-shadow);
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 76px;
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


.app {
  &__header {
    &_active {
      background: var(--color-header);
    }
  }
}


.app {
  &__header {
    &_hidden {
      transform: translateY(-76px);
    }
  }
}