.header {
  z-index: 10000;
  transition: 0.4s;
  color: var(--color-primary);
  position: fixed;
  box-shadow: 7px -20px 20px 13px #444;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 76px;
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


.app {
  &__header {
    &_active {
      background: var(--color-inserts);
    }
    &_white {
      color: #fff;
    }
  }
}


.app {
  &__header {
    &_hidden {
      transform: translateY(-90px);
    }
  }
}