
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background: #181818;
  position: relative;
}

div[role="presentation"] {
    .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
      background-color: #E50914;
    }
    div:nth-child(3) {
      background: #333;
      color: #fff;
    }
}

.css-1yjjitx-MuiSwitch-track {
  background-color: #fff !important;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
  background-color: #E50914 !important;
}
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: #fff !important;
}