.header {
  &__category {
    padding: 15px;
    color: #fff;
    border-bottom: 1px solid var(--color-dark-border);
    height: 85px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    &_buttons {
      display: flex;
      width: 100%;
    }

    &_button {
      padding: 10px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33%;
      background: var(--color-contrast-gray);
      font-size: 14px;
      cursor: pointer;

      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    &_activeButton {
      color: var(--color-primary);
      background: var(--color-back-primary);
    }
  }
}