.header {
  &__category {
    padding: 15px;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);

    &_buttons {
      display: flex;
    }

    &_button {
      padding: 10px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33%;
      background: #1f1f1f;
      font-size: 14px;
      cursor: pointer;

      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    &_activeButton {
      background: #000;
    }
  }
}