.login {
  &__tabs {
    margin-bottom: 20px;
    height: 56px;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
  }
  &__tab {
    border-radius: 3px;
    color: #666;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    height: 85%;
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.5s;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
    &:hover {
      background: rgba(#eee, 0.4);
    }
    &_active {
      background: #f1f2f5;
      color: #000;
      &:hover {
        background: #f1f2f5;
      }
    }
  }
}


@media screen and (max-width: 430px) {
  .login {
    &__tab {
      font-size: 12px;
    }
  }
}
