

.footer {
  background: #111;
  box-shadow: 2px -1px 8px 0px #222;
  & > div {
    padding: 50px 0 0 0;
  }
  a {
    opacity: 0.4;
    color: #fff;
    transition: 0.3s;
    &:hover {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 400px) {
  .footer {
    font-size: 12px;
  }
}