
.header{
  &__filmsContent {
    max-height: calc(min(500px, 50vh));
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px; /* ширина для вертикального скролла */
      background-color: #111;
    }

    /* ползунок скроллбара */
    &::-webkit-scrollbar-thumb {
      background-color: #E50914;
      border-radius: 0;
      height: 5px;
    }
  }
}