

.footer {
  &__refs {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}


@media screen and (max-width: 670px) {
  .footer {
    &__refs {
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 400px) {
  .footer {
    &__refs {
      gap: 20px;
    }
  }
}