

.footer {
  &__socialNetworks {
    display: flex;
    justify-content: center;
    gap: 60px;
    svg {
      fill: var(--color-dark-gray);
      width: 30px;
      height: 30px;
    }
  }
  &__socialNetwork {

  }
}
