

.footer {
  &__socialNetworks {
    display: flex;
    justify-content: center;
    gap: 60px;
    svg {
      width: 30px;
      height: 30px;
    }
  }
  &__socialNetwork {
    &:hover {
      svg {
        color: #999;
      }
    }
  }
}
