

.rangeSlider{
  &__fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__input {
    &:first-child {
      margin-right: 10px;
    }
    label {
      & + div {
        color: #fff !important;
      }
    }
    fieldset {
      border-color: var(--color-light-border) !important;
    }
    input {
      padding: 10px !important;
    }
  }
  &__thumb {
    background: #fff;
    border: 1px solid var(--color-primary);
  }
}