
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background: var(--color-bg);
  position: relative;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}


div[role="presentation"] { /* стилизация выпад списка у селекта */
    z-index: 100002;
    max-height: 300px;
    .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
      background-color: #E50914;
    }
    div:nth-child(3) {
      background: var(--color-inserts);
      color: var(--color-primary);
    }
  .Mui-selected {
    color: #fff;
  }
}

.css-1yjjitx-MuiSwitch-track { /*цвет для дорожки у чек бокса в нач состояние*/
  background-color: var(--color-primary) !important;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {  /*цвет для дорожки у чек бокса в кон состояние */
  background-color: #E50914 !important;
}
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked { /* цвет головы у чек бокса в конечной точке */
  color: #fff !important;
}
