.login {
  padding: 20px 0;
  position: relative;
  z-index: 10000000;
  background-image: url("../../assets/img/login/films.jpg");
  background-size: contain;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    content: "";
    position: absolute;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__window {
    & > div {
      width: 80% !important;
    }
    border-radius: 20px;
    position: relative;
    background: #fff;
    width: 400px;
    text-align: center;
  }
  &__logo {
    padding-top: 30px;
    img {
      height: 80px;
    }
  }
  &__info {
    margin: 20px 0;
    color: rgba(0,0,0,.9);
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
  }
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    div {
      width: 100%;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 10px;
    & > div {
      width: 100%;
      button {
        width: 100%;
        padding: 15px 20px;
      }
    }
  }
  &__additionalInfo {
    font-weight: 300;
    font-size: 14px;
    margin-top: 20px;
  }
  &__networks {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
  }
  &__forgot {
    text-align: left;
    margin-bottom: 10px;
    a {
      cursor: pointer;
      color: #000;
      border-bottom: 1px dashed #000;
    }
  }
  &__network {
    cursor: pointer;
    img {
      width: 40px;
      height: 40px;
    }
  }
}

.blackTextButton {
  button {
    color: #000 !important;
  }
}

@media screen and (max-width: 450px) {
  .login {
    &__toPhone {
      width: 25px;
      height: 25px;
      svg {
        width: 10px;
        height: 10px;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .login {
    &__window {
      width: 90%;
    }
    &__tab {
      font-size: 12px;
    }
  }
}



