

.person {
  width: 100%;
  background: var(--color-catalog-bg);
  & > div {
    margin-top: 76px;
    background: var(--color-catalog);
    color: var(--color-primary);
    padding-top: 20px;
  }
  &__back {
    margin-bottom: 20px;
  }
}