
.switcher {
  &__switch {
    display: flex;
    z-index: 0;
    position: relative;
  }
  &__switchBorder {
    position: absolute;
    left: -1%;
    bottom: 0;
    width: 102%;
    height: 1px;
    background: #333;
  }
  &__option {
    z-index: 100000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    margin-right: 10px;
    transition: 0.4s;
    padding: 10px;
    border-bottom: 3px solid transparent;
    transform: translateY(1px);
  }
  &__activeOption {
    color: var(--color-red);
    border-bottom: 3px solid var(--color-red);
  }
}